*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

a{
    text-decoration: none;
    color: darkslategrey;
}

/*div{
    background-color: aliceblue;
}*/

.container{
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: yellow;
    width: 100%;
}

footer{
    background-color: black;
    height: 100px;
    width: 100%;
}

.logo{
    width: 10%;
}

.menu{
    width: 50%;
}

.imgProdutos{
    width: 200px;
    height: 200px;
}

.centralizar{
    margin: auto;
    align-content: center;
    text-align: center;
}

table{
    margin: auto;
    border: solid;
    border-color: gray;
    border-radius: 5px;
    border: 2;
    width: 200px;
    height: 250px;
}

h1{
    color: black;
}

p{
    color: black;
}

.borda{
    border: solid;
    height: 300px;
    width: 300px;
}

.imagens{
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.cadastro{
    border: solid;
    border-radius: 5px;
    border-color: gray;
    width: 200px;
}

.botao{
    color: aliceblue;
    padding: 5px;
    width: 180px;
    border: solid;
    border: 100px;
    border-radius: 5px;
    background-color: rgb(255, 102, 0);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}