*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

/*div{
    background-color: aliceblue;
}*/

.container{
    max-width: 1080px;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    background-color: yellow;
    width: 100%;
}

footer{
    background-color: black;
    height: 100px;
    width: 100%;
}

.logo{
    width: 10%;
}

.menu{
    width: 50%;
}

.imgProdutos{
    width: 200px;
    height: 200px;
}

.centralizar{
    margin: auto;
    align-content: center;
    text-align: center;
}

table{
    margin: auto;
    border: double;
    border: 2;
    width: 200px;
    height: 100px;
}

h1{
    color: black;
}

p{
    color: black;
}